.wrapper {max-width:$wrapper-width; width:100%; margin:0 auto;}
section {padding:45px 0 20px;}
.flex-el {position:relative; display:flex; justify-content:center;}
.button {background:#FFF; color:$primary-color; font-size:28px; font-weight:700; padding:20px 50px; line-height:1;
	&:hover {text-decoration:none; background:$primary-color; color:#FFF;}
}
.align-center {text-align:center;}

//become a client
.client-contacts {float:left; width:190px;
	&__item {padding:20px 0 25px 45px; background-repeat:no-repeat; background-position:0 45%;
		&--smile {background-image:url(../images/icon-smile.png);}
		&--heart {background-image:url(../images/icon-heart.png);}
		&--chat {background-image:url(../images/icon-chat.png);}
		&--plus {background-image:url(../images/icon-plus.png);}
	}
	&__subtitle, &__title {color:#7d7d7d; font-weight:400; text-transform:uppercase; margin:0; line-height:1; transition:.5s;}
	&__subtitle { font-size:12px; margin-bottom:3px;}
	&__title {font-size:18px;}
	&__undertitle {font-size:11px; margin:0; color:#7d7d7d; font-weight:400;}
	&__text {font-size:11px; color:$primary-color; margin:6px 0 0;}
	&__link {
		&:hover {text-decoration:none;
			h1, h2 {color:$primary-color; }
		}
	}
}

.client-callout {position:relative; float:right; width:calc(100% - 225px);
	&__caption {position:absolute; top:23%; right:75px; text-shadow: 0 0 10px rgba(35, 31, 32, 0.75);}
	&__title {font-size:41px; line-height:1.1; margin-bottom:20px;}
	&__description {font-size:17px; width:350px;}
	&__button {position:relative; float:right; width:490px; height:105px; background: url(../images/become-a-client-button.png) no-repeat $primary-color; color:#FFF; padding:20px 100px 20px 30px; font-size:35px; font-weight:700;margin:0; line-height:1.2; cursor:pointer; margin:-65px 45px 0 0;
		span {display:block; font-size:14px; font-weight:400;}
		&:hover {text-decoration:none; background-color:$hover-color;}
	}
}

//profile
.profile {
	&__caption {position:absolute; width:450px; z-index:1;}
	&__subtitle {position:relative; color:#cacaca; font-size:15px; font-weight:400; text-transform:uppercase;
		.line {position:absolute; width:240px; height:1px; background:#cacaca; top:45%; left:160px; margin:0;}
	}
	&__title {color:#cacaca; font-size:44px; line-height:1.1; margin:20px 0;}
	&__description {font-size:17px; color:#010101; margin:0;}
	&__headline {background:$primary-color; color:#FFF; padding:20px 40px; font-size:35px; display: inline-block; width:430px; line-height:1.3; margin:70px 0 0;}

	&__flexline {margin-bottom:14px;}
}

.user-profiles {float:right; max-width:1100px; width:100%; margin-right:-10px;
	&__item {position:relative; margin:0 7px; flex-shrink:1; flex-basis:auto;}
	&__description {@include vertical-align(absolute); width:100%; text-align:center; text-shadow: 0 0 6px rgba(35, 31, 32, .4); font-size:42px; color:#FFF; font-weight:700; padding:20px; line-height:1.2; margin:0;}
}

//why
.why-us {background:$primary-color;
	&__flexline {justify-content:space-between; max-width:1100px; margin:0 auto 80px;}
}
.reason {flex-basis:250px;
	&__title {font-size:22px; margin-top:35px;}
}

//partners
.partners {border:1px solid #d4d4d4; border-width:1px 0;
	&__flexline {justify-content:space-between; align-items:center; margin-bottom:20px;}
}

//clients
.clients {padding-bottom:70px;
	&__slider {float:left; width:50%;
		.owl-dots {width:calc(100% - 400px); float:left; text-align:center; margin-top:-30px; position:relative; z-index:9;}
		.owl-dot {background:#c6c6c6; width:19px; height:19px; display:inline-block; margin:0 10px; border-radius:10px;
			&.active {background:$primary-color;}
		}
	}
	&__videos {float:right; width:50%; position:relative; padding:0 40px; margin-bottom:60px;}
	&__hashtag {float:right; width:50%; padding-right:60px; clear:right;}
}

.slide {
	&__image {width:calc(100% - 170px) !important; float:left; margin-bottom:60px;}
	&__author {float:right; font-size:15px; width:150px; margin-top:230px;
		span {font-weight:700; display:block;}
	}
	&__testimonial {background:$primary-color; color:#FFF; position:absolute; width:380px; bottom:0; right:0; font-size:25px; padding:20px 30px; line-height:1.2; margin:0;}
}

.greenstripe {background:$primary-color; width:100%; height:100px; display:block; position:absolute; z-index:-1; top:30px; left:0;}
.video {float:left; width:50%; padding:0 20px;
	&__thumbnail {width:100%; margin-bottom:10px;}
	&__description {color:#2e2e2e; font-weight:400;}
	&__button {font-size:16px; background:$primary-color; color:#FFF; padding:20px; line-height:1; display:inline-block; margin-top:20px;}
}
.hashtag {float:right; border:2px solid #c6c6c6; width:350px; color:#2e2e2e; font-size:43px; padding:30px 50px; line-height:1; margin:0;
	&__description {float:left; width:calc(100% - 370px); padding-left:60px;}
}

// contact
.contact {
	&__twitter {
		.tweets { overflow-y:scroll; background:#f4f4f4; height:200px;}
	}
}
.col {
	&__title {color:#2e2e2e; font-size:25px; font-weight:700;}
}
.col-one {flex-basis:20%;}
.col-two {flex-basis:40%; padding-right:4%;}

.blog {
	&__list {}
	&__post {background:#f4f4f4; margin-bottom:10px; padding:10px; line-height:1.2;
		&:before {content:'- '; color:$primary-color;}
		a {color:$primary-color;
			&:hover {color:$hover-color; text-decoration:none;}
		}
	}
}

//callout
.callout {position:relative;
	&__title {@include vertical-align(absolute, 35%); width:100%; font-size:42px;}
	&__button {@include vertical-align(absolute, 65%); width:340px; left:50%; margin-left:-170px;}
}